<h1>Dashboard</h1>
<form class="new-post-form">
  <div>
    <label for="post-title">Title</label>
    <input type="text" id="post-title" />
  </div>
  <div>
    <label for="post-content">Content</label>
    <textarea id="post-content"></textarea>
  </div>
  <button type="submit">Add Post</button>
</form>
{{#each posts}}
<div>
  <h2>{{this.title}}</h2>
  <p>{{this.content}}</p>
  <p>By {{this.user.username}} on {{this.createdAt}}</p>
  <button data-id="{{this.id}}" class="edit-post-btn">Edit</button>
  <button data-id="{{this.id}}" class="delete-post-btn">Delete</button>
</div>
{{/each}}
<script src="/js/dashboard.js"></script>
